@import url("https://fonts.googleapis.com/css?family=Kelly+Slab|Luckiest+Guy|Roboto+Slab");
body {
  background-color: #F8F9FA;
  font-family: 'Roboto Slab', serif;
}

body h1 {
  color: #007BFF;
}

#maincontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formPosition {
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user_name {
  color: coral;
  text-align: right;
  margin-right: 20px;
}
